
footer{
   background-color:rgba(0, 0, 0, 0.797) ;
   height: 600px;
   color: white;
   margin-top:50px;
   display: flex;
   justify-content: space-evenly;
   padding: 20px;;
   font-size: 20px;;
}
.footer1 p{
   color: grey;
}

.footer1{
 line-height: 1.5;
}
.f-icon{
    margin-top: 20px;;
  display: flex;
  gap:20px;
    
}
.f-icon i{
  font-size: 25px;
  background-color: grey;
  border-radius: 50%;
  height: 50px;
  width: 50px;

  display: inline-block;
  line-height: 50px;
  text-align: center;
margin-right: 10px;
  color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
 }
 header{
    display: flex;
     background-color: #F5F5F5;
 }
 
 .menus{
    display: flex;
    height: 100px;
    width: 1400px;
    justify-content: space-evenly;
 }
 .menus a{
    text-decoration: none;
    font-size: 24px;
    padding-top:30px;
    color: black;
 }
.fa-user{
   margin-top: 25px;;
}
 .menus i{
    font-size: 35px;
    padding-top: 5px;;
 }

 .login{
   
    color:white;
    height: 45px;
    padding-top: 5px;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.797);
    border-radius: 10px;
 }

 
/* numbers */
.section12-info span {
  height: 40px;
  width: 40px;
  border:1px solid  grey;
  border-radius: 50%;
  background-color: white;
  color: grey;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.section12-info .one{
     height: 40px;
  width: 40px;
    font-size: 24px;

  border:1px solid  white;
  border-radius: 50%;
  background-color:#FF6F61;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
/* text */
.section12-info p {
  margin: 0;
  font-weight: 600;
}

/* horizontal line */
.section12-info hr {
  width: 50px;
  height: 1px;
  border: none;
  background-color: #ccc;
}

 .section12-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left:500px;
  margin-top:100px;
        
  width: 800px;
   
  font-size: 22px;
  padding-left:20px;

 

}

.success-tick {
  width: 60px;
  height: 60px;
  background-color: #28a745; /* green */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:750px;
  margin-top:80px;
}

.success-tick i {
  color: white;
  font-size: 30px;
}

.child{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.pay-confirm{
    text-align: center;
    margin-top: 50px;
}
.pay-confirm p{
    color: grey;
    margin-top: 20px;;
}

.order-summary{
    height: 510px;
    width: 700px;
    border: 1px solid grey;
    background-color: #F9FAFB;
    margin: auto;
}

.order-1,.order-2{
     display: flex;
    gap:30px;
    padding: 20px;
}
.right{
    margin-left:350px;
}

.left{
    width: 200px;;
}
.table{
    display: flex;
    padding: 20px;
    color: grey;
    justify-content: space-between;
}
.t-total{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.order-summary hr{
     width: 670px;;
     margin-left:10px;;
     
}
.order-summary h2{
padding: 20px;;
}

.next{
    text-align: center;
    margin-top: 30px;;
   
}
.next p{
    color: grey;
    font-size: 18px;
    line-height: 2;
}

.next-buttons{
    display: flex;
    gap:80px;
    margin-left:450px;
    margin-top:40px;
}
.continue-shopping{
    background-color: #2563EB;
    height: 45px;
    width: 250px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding-top: 10px;;
    text-align: center;
}
.view-tracking{
       background-color: white;
    height: 45px;
    width: 250px;
    font-size: 20px;
    color: #2563EB;
    border-radius: 10px;
    border: 1px solid #2563EB;
    padding-top: 10px;;
    text-align: center;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  gap: 8px;
}

.input-box i {
  color: #999;
}

.input-box input {
  border: none;
  outline: none;
  flex: 1;
}

.login-box{
    width: 650px;
   background-color: white;
   border: 1px solid black;
   border-radius: 10px;
   display: flex;
  position: absolute;
  top:100px;
  left:400px;
  display: none;
   flex-direction: column;
   gap:10px;   
   padding: 20px;;
}
.fa-xmark{
   margin-left:550px;
   font-size: 50px;;
}
.login-box h1,.login-box h2{
   text-align: center;
}
.login-box h1{
   font-size: 60px;
}
.login-box h2{
   font-size: 30px;
   color: grey;
}
.input-box i{
   color: black;
   font-size: 35px;
}
.input-box input{
   height: 50px;
   width: 300px;;
   background-color: #F5F5F5;
  
}
.input-box{
    background-color: #F5F5F5;
    border:none;
    height: 80px;
    width: 400px;;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;;
}
.input-box ::placeholder{
   color: black;
   font-size: 24px;;
}
#text{
margin-top:25px;
}
.login-button{
   background-color: #FF6F61;
   height: 45px;
   font-size: 24px;
   color: white;
   cursor: pointer;
   width: 150px;
   border-radius: 10px;;
   text-align: center;
   padding-top: 10px;
   margin:auto;
   margin-top:20px;
}
.continue-with {
  display: flex;
  align-items: center;   /* vertical alignment */
  gap:2px;
  margin-top:20px;
  
}

.continue-with p{
   font-size: 22px;;
   color: grey;
}
.continue-with hr {
  flex: 0.3;               /* makes the lines stretch */
  border: none;
  border-top: 1px solid #ccc;
  margin: auto;

}
.google{
   height: 60px;
   width: 400px;
   margin:auto;
   margin-top:20px;
   background-color: #F5F5F5;
   color: black;
   font-size: 24px;
   padding: 20px;;
   text-align: center;
   border-radius: 10px;;
   display: flex;
   gap:30px;

}
.apple{
      height: 60px;
   width: 400px;
   margin-top:20px;
   margin:auto;
   background-color: #F5F5F5;
   color: black;
   font-size: 24px;
   padding: 20px;;
   text-align: center;
   border-radius: 10px;;
   display: flex;
   gap:30px;
   

}
.fa-user{
   position: relative;
}

/* overlay */
.login-overlay {
  position: absolute;
   top:10px;
  inset: 0;

  background: rgba(0,0,0,0.5);
  display: flex;
   display: none;
  justify-content: center;
  align-items: center;
}
.continue-button{
   height: 45px;
   width: 150px;
    cursor: pointer;
   text-align: center;
   color: white;
   font-size: 24px;
   padding-top: 10px;
   border-radius: 10px;
   background-color: #FF6F61;
}

/* modal box */
.login-overlay .login-box {
  background: #fff;
  width: 750px;
  padding: 40px;
  border-radius: 12px;
 

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* close icon */
.login-overlay  .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  cursor: pointer;
}

/* text */
.login-overlay .login-box h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

.login-overlay .login-box h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.login-overlay .subtitle {
  color: #777;
  font-size: 18px;
}

/* input with icon */
.input-box1 {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
 
  background: #f5f5f5;
  padding: 15px;
  border-radius: 12px;
}

.input-box1 i {
  font-size: 18px;
}

.input-box1 .code {
  font-weight: 500;
}

.input-box1 input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 16px;
}

/* link */
.email-link {
  align-self: flex-end;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

/* terms */
.terms {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  text-align: left;
}